<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1 class="text-center">¡FinanClick te da la bienvenida!</h1>
                <p class="text-center">Te damos la bienvenida a nuestra plataforma. Descubre todas nuestras soluciones y servicios.</p>
            </div>
            <div class="col-md-6 img-container">
                <img src="/assets/images/logoFinanclick.png" alt="Logo de la empresa" class="img-fluid">
            </div>
        </div>
    </div>
</div>