
<h3 class="titulo">Simulador de crédito</h3>
<div class="col-12 card shadow mb-4 p-3">
    <form [formGroup]="simuladorForm">
        <div class="col-12">
            <div class="mb-3">
                <h5 class="subtitulo">Datos generales del crédito</h5>
            </div>
            <div class="inputs-container">
                <div class="floating-label">
                    <select class="inputM" id="producto" formControlName="productoNombre" (change)="listenerProducto()">
                        <option value="{{item.nombreProducto}}" *ngFor="let item of productos">{{item.nombreProducto}}</option>
                    </select>
                    <label for="metodoCalculo">Producto</label>
                </div>
                <div class="floating-label">
                    <select class="inputM" id="metodoCalculo" formControlName="metodoCalculo">
                        <option value="AMORTIZADO" selected >Amortizado</option>
                    </select>
                    <label for="metodoCalculo">Método Calculo</label>
                </div>
                <div class="floating-label">
                    <select class="inputM" id="subMetodo" formControlName="subMetodoCalculo">
                        <option value="" disabled selected>Selecciona un tipo</option>
                        <option value="INSOLUTOS" >Saldos Insolutos</option>
                        <option value="GLOBALES" >Saldos Globales</option>
                    </select>
                    <label for="subMetodo">Submétodo</label>
                </div>
                <div class="floating-label">
                    <input type="number" class="inputM" id="monto" placeholder="Monto del crédito" formControlName="monto" (input)="limitarCaracteres($event, 8)">
                    <label for="monto">Monto del Crédito</label>
                </div>
                <div class="floating-label">
                    <input type="number" class="inputM" id="numpagos" placeholder="Número de pagos" formControlName="numPagos" (input)="limitarCaracteres($event, 2)">
                    <label for="numpagos">Número de Pagos</label>
                </div>
                <div class="floating-label">
                    <input type="number" class="inputM" id="interesMoratorio" placeholder="Interés moratorio" formControlName="interesMoratorio" (input)="limitarCaracteres($event, 2)">
                    <label for="interesMoratorio">Interés Moratorio</label>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="inputs-container">
                <div class="floating-label">
                    <select class="inputM" id="formaPago" formControlName="periodicidad">
                        <option value="" disabled selected>Periodicidad</option>
                        <option value="Quincenal">Quincenal</option>
                        <option value="Mensual">Mensual</option>
                        <option value="Anual">Anual</option>
                    </select>
                    <label for="formaPago">Periodicidad</label>
                </div>
                <div class="floating-label">
                    <input type="date" class="inputM" id="fechaInicio" placeholder="Fecha de inicio" formControlName="fechaInicio">
                    <label for="fechaInicio">Fecha de Inicio</label>
                </div>
                <div class="floating-label">
                    <input type="number" class="inputM" id="interesAnual" placeholder="Interés anual" formControlName="interesAnual" (input)="limitarCaracteres($event, 2)">
                    <label for="interesAnual">Interés Anual</label>
                </div>
                <div class="floating-label">
                    <input type="number" class="inputM" id="iva" placeholder="I.V.A." formControlName="iva" (input)="limitarCaracteres($event, 2)">
                    <label for="iva">I.V.A.</label>
                </div>
                <!-- <div class="floating-label checkbox-container">
                    <input type="checkbox" id="ivaExento" formControlName="ivaExento">
                    <label for="ivaExento">I.V.A. Exento?</label>
                </div> -->
                <!-- <div class="floating-label">
                    <label for="catValor">CAT: Valor</label>
                </div> -->
            </div>
            <div class="text-center">
            <button type="button" class="btn btn-success" style="margin-top: 20px;" (click)="simular()">Simular</button>
            <button type="button" class="btn btn-warning" style="margin-top: 20px; margin-left: 10px; color: white;" (click)="limpiar()">Limpiar</button>
            </div>
        </div>
    </form>

    <div *ngIf="mostrarTabla" class="col-12 mt-3 card shadow mb-4 p-3">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold"><i class="fas fa-chart-line"></i> Conceptos</h6>
        </div>

        <div class="card-body">
            <p *ngIf="productoElegido.detalleProductos!.length == 0">Este crédito no cuenta con conceptos</p>
            <div class="no-padding table-responsive table-hover" style="margin-top: 20px; font-size: 13px;">
                <table class="table table-bordered table-hover" *ngIf="productoElegido.detalleProductos!.length != 0">
                    <thead>
                        <tr>
                            <th class="text-center headerTable-top-left">Concepto</th>
                            <th class="text-center">Medida</th>
                            <th class="text-center headerTable-bottom">Valor de la medida</th>
                            <th class="text-center headerTable-top-right">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let concepto of productoElegido.detalleProductos">
                            <td class="text-center">{{ concepto.idConceptoNavigation.nombreConcepto }}</td>
                            <td class="text-center">{{ concepto.idConceptoNavigation.tipoValor }}</td>
                            <td class="text-center">{{ concepto.idConceptoNavigation.valor }}</td>
                            <td class="text-center">{{ calcularMontoConceptos(concepto.idConceptoNavigation.tipoValor, concepto.idConceptoNavigation.valor)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mostrarTabla" class="col-12 card shadow mb-4 p-3">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold"><i class="fas fa-chart-line"></i> Tabla de amortización</h6>
    </div>
    <fieldset>
        <div class="no-padding table-responsive table-hover" style="margin-top: 20px; font-size: 13px;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center headerTable-top-left">Pago</th>
                        <th class="text-center">Otorgamiento</th>
                        <th class="text-center">Día de vencimiento</th>
                        <th class="text-center">Días</th>
                        <th class="text-center">Saldo Insoluto</th>
                        <th class="text-center">Capital</th>
                        <th class="text-center">Interés</th>
                        <th class="text-center">I.V.A.</th>
                        <th class="text-center">Interés + I.V.A.</th>
                        <th class="text-center headerTable-top-right">Pago total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Itera sobre amortizaciones y muestra los datos -->
                    <tr class="text-center" *ngFor="let amortizacion of amortizaciones; let i = index">
                        <td>{{ amortizacion.numPago }}</td>
                        <td>{{ amortizacion.fechaInicio | date:'dd/MM/yyyy' }}</td>
                        <td>{{ amortizacion.fechaFin | date:'dd/MM/yyyy' }}</td>
                        <td>{{ calcularDias(amortizacion.fechaInicio, amortizacion.fechaFin) }}</td>
                        <td>{{ amortizacion.saldoInsoluto | currency }}</td>
                        <td>{{ amortizacion.capital | currency }}</td>
                        <td>{{ amortizacion.interes | currency }}</td>
                        <td>{{ amortizacion.ivaSobreInteres | currency }}</td>
                        <td>{{ amortizacion.interesMasIva | currency }}</td>
                        <td>{{ amortizacion.pagoFijo | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <div class="text-center mt-3">
        <button class="btn btn-primary" (click)="abrirCredito()">Abrir crédito</button>
    </div>
</div>
