<h3 class="titulo">Empresas</h3>
<div class="col-12 card shadow mb-4 p-3">
    <fieldset class="d-flex align-items-center justify-content-between">
        <div class="alert alert-warning m-0" role="alert">
            En este modulo tendra la capacidad de agregar, modificar y eliminar a las distintas empresas que se tengan como clientes.
        </div>
        <ul class="botonp m-0 d-flex">
            <li class="icon-content">
                <a aria-label="Agregar" data-social="agregar" (click)="openModal('add')">
                    <div class="filled"></div>
                    <i class="fa fa-plus fa-lg"></i>
                </a>
                <div class="tooltip">Agregar</div>
            </li>
        </ul>
    </fieldset>
</div>
<div class="card shadow mb-4 p-3" id="spacesTable">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold"><i class="fas fa-industry"></i>&nbsp;Listado de empresas</h6>
        <div class="floating-label">
            <input type="text" class="inputM" placeholder="Buscar Empresa" id="buscarEmpresa" (keyup)="filterEmpresas($event)" style="width: auto;">
            <label for="buscarEmpresa">Buscar Empresa</label>
        </div>
    </div>
    <fieldset>
        <div class="table-wrapper" style="margin-top: 20px; font-size: 13px;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th class="headerTable-top-left">Raz&oacute;n Social</th>
                        <th>Representante</th>
                        <th>RFC</th>
                        <th>Estado</th>
                        <th class="headerTable-top-right">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of filteredEmpresas" class="text-center">
                        <td>{{ o.razonSocial }}</td>
                        <td>{{ o.nombreRepresentanteLegal }}</td>
                        <td>{{ o.rfc }}</td>
                        <td>{{ o.estado }}</td>
                        <td class="d-flex align-items-center justify-content-center">
                            <ul class="botonp list-unstyled m-0">
                                <li class="icon-content">
                                    <a aria-label="Editar" data-social="editar" (click)="openModal('edit', o)">
                                        <div class="filled"></div>
                                        <i class="fas fa-pencil-alt fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <div class="tooltip">Editar</div>
                                </li>
                                &nbsp;
                                <li class="icon-content">
                                    <a aria-label="Eliminar" data-social="eliminar" (click)="eliminar(o)">
                                        <div class="filled"></div>
                                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <div class="tooltip">Eliminar</div>
                                </li>
                            </ul>
                        </td>
                    </tr>              
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" (hidden.bs.modal)="onModalClose()">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center position-relative">
                <h1 class="modal-title fs-5 w-100 text-center" id="staticBackdropLabel">{{ modalTitle }}</h1>
                <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card shadow-lg p-4">
                    <form [formGroup]="empresaForm" novalidate (ngSubmit)="guardar()">
                        <div class="inputs-container mt-4">
                            <div class="floating-label">
                                <input type="text" class="inputM" id="nombreEmpresa" placeholder="Nombre Empresa" formControlName="nombreEmpresa" (input)="limitarCaracteres($event, 60)">
                                <label for="nombreEmpresa">Nombre Empresa</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="razonSocial" placeholder="Razón Social" formControlName="razonSocial" (input)="limitarCaracteres($event, 60)">
                                <label for="razonSocial">Raz&oacute;n Social</label>
                            </div>
                            <div class="floating-label">
                                <input type="date" class="inputM" id="fechaConstitucion" placeholder="Fecha Constitución" formControlName="fechaConstitucion">
                                <label for="fechaConstitucion">Fecha Constitución</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="numeroEscritura" placeholder="No. Escritura" formControlName="numeroEscritura" (input)="limitarCaracteres($event, 10)">
                                <label for="numeroEscritura">No. Escritura</label>
                            </div>
                        </div>
                        <div class="inputs-container mt-4">
                            <div class="floating-label">
                                <input type="text" class="inputM" id="nombreNotario" placeholder="Nombre Notario" formControlName="nombreNotario" (input)="limitarCaracteres($event, 60)">
                                <label for="nombreNotario">Nombre Notario</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="numeroNotario" placeholder="Número Notario" formControlName="numeroNotario" (input)="limitarCaracteres($event, 10)">
                                <label for="numeroNotario">Número Notario</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="folioMercantil" placeholder="Folio Mercantil" formControlName="folioMercantil" (input)="limitarCaracteres($event, 30)">
                                <label for="folioMercantil">Folio Mercantil</label>
                            </div>
                            <div class="floating-label">
                                    <input 
                                    type="text" 
                                    class="inputM" 
                                    id="rfc" 
                                    placeholder="RFC" 
                                    formControlName="rfc" 
                                    (input)="limitarCaracteres($event, 13)">
                                    <label for="rfc">RFC</label>
                                    <!-- Mostrar un mensaje de error si la longitud no es válida -->
                                    <div *ngIf="empresaForm.get('rfc')?.invalid && empresaForm.get('rfc')?.touched">
                                        <small *ngIf="empresaForm.get('rfc')?.errors?.['minlength']" style="color: red; font-weight: bold;">
                                            El RFC debe tener al menos 12 caracteres.
                                        </small>
                                    </div>
                            </div>
                        </div>
                        <div class="inputs-container mt-4">
                            <div class="floating-label">
                                <input type="text" class="inputM" id="nombreRepresentanteLegal" placeholder="Nombre Rep. Legal" formControlName="nombreRepresentanteLegal" (input)="limitarCaracteres($event, 60)">
                                <label for="nombreRepresentanteLegal">Nombre Rep. Legal</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="numeroEscrituraRepLeg" placeholder="No. Escritura Rep Leg" formControlName="numeroEscrituraRepLeg" (input)="limitarCaracteres($event, 15)">
                                <label for="numeroEscrituraRepLeg">No. Escritura Rep Leg</label>
                            </div>
                            <div class="floating-label">
                                <input type="date" class="inputM" id="fechaInscripcion" placeholder="Fecha Inscripción" formControlName="fechaInscripcion">
                                <label for="fechaInscripcion">Fecha Inscripción</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="calle" placeholder="Calle" formControlName="calle" (input)="limitarCaracteres($event, 60)">
                                <label for="calle">Calle</label>
                            </div>
                        </div>
                        <div class="inputs-container mt-4">
                            <div class="floating-label">
                                <input type="text" class="inputM" id="colonia" placeholder="Colonia" formControlName="colonia" (input)="limitarCaracteres($event, 60)">
                                <label for="colonia">Colonia</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="cp" placeholder="Código Postal" formControlName="cp" (input)="limitarCaracteres($event, 5)">
                                <label for="cp">Código Postal</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="telefono" placeholder="Teléfono" formControlName="telefono" (input)="limitarCaracteres($event, 10)">
                                <label for="telefono">Teléfono</label>
                                <div *ngIf="empresaForm.get('telefono')?.invalid && empresaForm.get('telefono')?.touched">
                                    <small *ngIf="empresaForm.get('telefono')?.errors?.['minlength']" style="color: red; font-weight: bold;">
                                        El teléfono debe tener 10 caracteres.
                                    </small>
                                </div>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="estado" placeholder="Estado" formControlName="estado" (input)="limitarCaracteres($event, 30)">
                                <label for="estado">Estado</label>
                            </div>
                        </div>
                        <div class="inputs-container mt-4">
                            <div class="floating-label">
                                <input type="text" class="inputM" id="localidad" placeholder="Localidad" formControlName="localidad" (input)="limitarCaracteres($event, 60)">
                                <label for="localidad">Localidad</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="numExterior" placeholder="Num. Exterior" formControlName="numExterior" (input)="limitarCaracteres($event, 8)">
                                <label for="numExterior">Num. Exterior</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="numInterior" placeholder="Num. Interior" formControlName="numInterior" (input)="limitarCaracteres($event, 8)">
                                <label for="numInterior">Num. Interior</label>
                            </div>
                            <div class="floating-label">
                                <input type="text" class="inputM" id="email" placeholder="Email" formControlName="email">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="inputs-container mt-4 text-center">
                            <input #fileInput class="inputM" type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/jpg, image/png" style="width: 40%;">
                            <div id="imagePreview" *ngIf="selectedImage" class="image-preview mt-3">
                                <img [src]="selectedImage" alt="Imagen seleccionada" style="height: 150px; width: 150px;">
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-success" (click)="guardar()">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
