<h3 class="titulo">Clientes</h3>
<div class="col-12 card shadow mb-4 p-3">
    <fieldset class="d-flex align-items-center justify-content-between">
        <div class="alert alert-warning m-0" role="alert">
            En este modulo tendrá la capacidad de agregar, modificar y eliminar a los distintos clientes que se tengan.
        </div>
        <ul class="botonp m-0 d-flex">
            <li class="icon-content">
                <a aria-label="Agregar" data-social="agregar">
                    <div class="filled"></div>
                    <i class="fa fa-plus fa-lg"></i>
                </a>
                <div class="tooltip">Agregar</div>
            </li>
        </ul>
    </fieldset>
</div>
<div class="card shadow mb-4 p-3" id="spacesTable">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold"><i class="fas fa-handshake"></i>&nbsp;Listado de clientes</h6>
    </div>
    <fieldset>
        <div class="no-padding table-responsive" style="margin-top: 20px; font-size: 13px;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th class="headerTable-top-left">Raz&oacute;n Social</th>
                        <th>Representante</th>
                        <th>RFC</th>
                        <th>Estado</th>
                        <th class="headerTable-top-right">Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </fieldset>
</div>