.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.pending-status {
  background-color: yellow; /* Color para pendiente */
}

.running-status {
  background-color: lightblue; /* Color para corriendo */ 
}

.moratorium-status {
  background-color: orange; /* Color para con moratorios */
}

.paid-status {
  background-color: green; /* Color para pagada */
}
