$color-azulfuerte: #023E73;
$color-azulclaro: #035AA6;
$color-verdefuerte: #528C18;
$color-verdeclaro: #9ABF75;
$color-text-light: #F2F2F2;

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, $color-verdeclaro, $color-azulfuerte);
}

.logo-n {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15%;
}

.logo-container {
    max-width: 200px;
    margin-bottom: 20px; 
}

.card {
    width: 100%; 
    max-width: 350px; 
    background-image: linear-gradient(163deg, $color-azulclaro 0%, $color-verdefuerte 100%);
    border-radius: 20px;
    transition: all .3s;
}

.card2 {
    width: 100%;
    background-color: #fff;
    transition: all .2s;
    background-color: $color-text-light;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 0; 
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.login-header {
    color: $color-verdefuerte;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    position: relative;
}

.password-icon {
    position: absolute;
    top: 35%;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    font-size: 1.5rem;
    color: $color-azulfuerte;
}

input[type="password"] {
    padding-right: 35px;
}

.form-group input {
    color: $color-azulfuerte;
    background: transparent;
    border: 1px solid $color-azulfuerte;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    z-index: 1;
    width: calc(100% - 22px);
}

.form-group label {
    position: absolute;
    top: 35%;
    left: 15px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    pointer-events: none;
    color: $color-azulfuerte;
}

input:focus {
    border: 2px solid $color-azulfuerte;
}

input:focus ~ label,
input:valid ~ label {
    top: -10px;
    font-size: 16px;
    padding: 0 15px;
}

.login-button {
    background-color: $color-verdefuerte;
    color: $color-text-light;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: darken($color-verdefuerte, 10%);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
