<h3 class="titulo">Productos</h3>
<div class="col-12 card shadow mb-4 p-3">
    <fieldset class="d-flex align-items-center justify-content-between">
        <div class="alert alert-warning m-0" role="alert">
            En este modulo tendra la capacidad de agregar, modificar y eliminar los productos de cr&eacute;ditos.
        </div>
        <ul class="botonp m-0 d-flex">
            <li class="icon-content">
                <a aria-label="Agregar" data-social="agregar" (click)="openModal('add')">
                    <div class="filled"></div>
                    <i class="fa fa-plus fa-lg"></i>
                </a>
                <div class="tooltip">Agregar</div>
            </li>
        </ul>
    </fieldset>
</div>
<div class="card shadow mb-4 p-3" id="spacesTable">
    <div class="card-header py-3 d-flex justify-content-between">
        <h6 class="m-0 font-weight-bold"><i class="fas fa-box-open"></i>&nbsp;Listado de productos</h6>
        <div class="floating-label">
            <input type="text" class="inputM" placeholder="Buscar Producto" id="buscarProducto" (keyup)="filterProductos($event)" style="width: auto;">
            <label for="buscarProducto">Buscar Producto</label>
        </div>
    </div>
    <fieldset>
        <div class="no-padding table-responsive" style="margin-top: 20px; font-size: 13px;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th class="headerTable-top-left">Nombre</th>
                        <th>Reca</th>
                        <th>Monto</th>
                        <th>Periodicidad</th>
                        <th>N&uacute;mero Pagos</th>
                        <th class="headerTable-top-right">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of productos" class="text-center">
                        <td>
                            {{ o.nombreProducto }}
                        </td>
                        <td>
                            {{ o.reca }}
                        </td>
                        <td>
                            {{ o.monto }}
                        </td>
                        <td>
                            {{ o.periodicidad }}
                        </td>
                        <td>
                            {{ o.numPagos }}
                        </td>
                        <td class="d-flex align-items-center justify-content-center">
                            <ul class="botonp list-unstyled m-0">
                                <li class="icon-content">
                                    <a aria-label="Concepto" data-social="agregar" (click)="openModalConcepto(o)">
                                        <div class="filled"></div>
                                        <i class="fa fa-plus fa-lg"></i>
                                    </a>
                                    <div class="tooltip">Concepto</div>
                                </li>
                                <li class="icon-content">
                                    <a aria-label="Editar" data-social="editar" (click)="openModal('edit', o)">
                                        <div class="filled"></div>
                                        <i class="fas fa-pencil-alt fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <div class="tooltip">Editar</div>
                                </li>
                                &nbsp;
                                <li class="icon-content">
                                    <a aria-label="Eliminar" data-social="eliminar" (click)="eliminar(o)">
                                        <div class="filled"></div>
                                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                    </a>
                                    <div class="tooltip">Eliminar</div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" (hidden.bs.modal)="onModalClose()">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center position-relative">
                <h1 class="modal-title fs-5 w-100 text-center" id="staticBackdropLabel">{{ modalTitle }}</h1>
                <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card shadow-lg p-4">
                    <form [formGroup]="productoForm" novalidate (ngSubmit)="guardar()">
                        <div class="inputs-container mt-4">
                            <div class="floating-label">
                                <input type="text" class="inputM" id="nombreProducto" placeholder="Nombre Producto" formControlName="nombreProducto" (input)="limitarCaracteres($event, 30)">
                                <label for="nombreProducto">Nombre Producto</label>
                            </div>
                            <div class="floating-label">
                                <input type="number" class="inputM" id="reca" placeholder="Reca" formControlName="reca" (input)="limitarCaracteres($event, 5)">
                                <label for="reca">Reca</label>
                            </div>
                            <div class="floating-label">
                                <select class="inputM" id="metodoCalculo" formControlName="metodoCalculo">
                                    <option value="AMORTIZADO" selected >AMORTIZADO</option>
                                </select>
                                <label for="metodoCalculo">Método Calculo</label>
                            </div>
                            <div class="floating-label">
                                <select class="inputM" id="subMetodo" formControlName="subMetodo">
                                    <option value="" disabled selected>Selecciona un tipo</option>
                                    <option value="INSOLUTOS" >Saldos Insolutos</option>
                                    <option value="GLOBALES" >Saldos Globales</option>
                                </select>
                                <label for="subMetodo">Submétodo</label>
                            </div>
                        </div>
                        <div class="inputs-container mt-4">
                            <div class="floating-label">
                                <input type="number" class="inputM" id="monto" placeholder="Monto" formControlName="monto" (input)="limitarCaracteres($event, 8)">
                                <label for="monto">Monto</label>
                            </div>
                            <div class="floating-label">
                                <select class="inputM" id="periodicidad" formControlName="periodicidad">
                                    <option value="" disabled selected>Selecciona periodicidad</option>
                                    <option value="Quincenal" >Quincenal</option>
                                    <option value="Mensual" >Mensual</option>
                                    <option value="Anual" >Anual</option>
                                </select>
                                <label for="periodicidad">Periodicidad</label>
                            </div>
                            <div class="floating-label">
                                <input type="number" class="inputM" id="numPagos" placeholder="Num. Pagos" formControlName="numPagos" (input)="limitarCaracteres($event, 2)">
                                <label for="numPagos">Num. Pagos</label>
                            </div>
                            <div class="floating-label">
                                <input type="number" class="inputM" id="interesAnual" placeholder="Inter&eacute;s anual" formControlName="interesAnual" (input)="limitarCaracteres($event, 2)">
                                <label for="interesAnual">Inter&eacute;s anual</label>
                            </div>
                        </div>
                        <div class="inputs-container mt-4">
                            <div class="floating-label">
                                <input type="number" class="inputM" id="iva" placeholder="IVA" formControlName="iva" (input)="limitarCaracteres($event, 2)">
                                <label for="iva">IVA</label>
                            </div>
                            <div class="floating-label">
                                <input type="number" class="inputM" id="interesMoratorio" placeholder="Inter&eacute;s moratorio" formControlName="interesMoratorio" (input)="limitarCaracteres($event, 2)">
                                <label for="interesMoratorio">Inter&eacute;s moratorio</label>
                            </div>
                            <div class="floating-label">
                                <select class="inputM" id="aplicacionDePagos" formControlName="aplicacionDePagos">
                                    <option value="" disabled selected>Selecciona aplicación</option>
                                    <option value="vencimientoVigencias" >Vencimiento de vigencias</option>
                                    <option value="ordenPrelacion">Orden de prelacion</option>
                                </select>
                                <label for="aplicacionDePagos">Aplicaci&oacute;n de Pagos</label>
                            </div>
                            <div class="floating-label">
                                <select class="inputM" id="pagoAnticipado" formControlName="pagoAnticipado">
                                    <option value="" disabled selected>Selecciona pago</option>
                                    <option value="reduccionPlazo" >Reducción de plazo</option>
                                    <option value="reduccionPago">Reducción de pago</option>
                                </select>
                                <label for="pagoAnticipado">Pago anticipado</label>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center mt-4">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-success" (click)="guardar()">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para conceptos -->
<div class="modal fade" id="modalConcepto" tabindex="-1" aria-labelledby="modalConceptoLabel" aria-hidden="true" (hidden.bs.modal)="onModalCloseConceptos()">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center position-relative">
                <h1 class="modal-title fs-5 w-100 text-center" id="modalConceptoLabel">Agregar Concepto</h1>
                <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card shadow-lg p-4">
                    <form [formGroup]="conceptoForm">
                        <div class="inputs-container mt-4">
                            <div class="floating-label">
                                <select class="inputM" id="conceptosSelect" (change)="onConceptoChange($event)">
                                    <option value="" disabled selected>Selecciona un concepto</option>
                                    <option *ngFor="let concepto of getFilteredConceptos()" [value]="concepto.idConcepto">
                                        {{ concepto.nombreConcepto }}
                                    </option>
                                </select>
                                <label for="conceptosSelect">Conceptos</label>
                            </div>
                        </div>
                        <div *ngIf="selectedConcepto" class="inputs-container mt-4">
                            <div class="floating-label">
                                <input type="number" class="inputM" id="valor" placeholder="Valor" formControlName="valor">
                                <label for="valor">Valor</label>
                            </div>
                            <div class="floating-label">
                                <select class="inputM" id="tipoValor" formControlName="tipoValor">
                                    <option value="" disabled selected>Selecciona un tipo</option>
                                    <option value="PORCENTAJE">PORCENTAJE</option>
                                    <option value="CANTIDAD">CANTIDAD</option>
                                </select>
                                <label for="tipoValor">Tipo Valor</label>
                            </div>
                        </div>
                        <!-- Tabla de conceptos agregados -->
                        <div *ngIf="productoSeleccionado?.detalleProductos!.length > 0" class="mt-4">
                            <h5>Conceptos Agregados</h5>
                            <table class="table table-striped mt-2">
                                <thead>
                                    <tr class="text-center">
                                        <th class="headerTable-top-left">Nombre</th>
                                        <th>Valor</th>
                                        <th>Tipo Valor</th>
                                        <th class="headerTable-top-right">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detalle of productoSeleccionado?.detalleProductos" class="text-center">
                                        <td>{{ getConceptoNombre(detalle.idConcepto) }}</td>
                                        <td>{{ detalle.valor }}</td>
                                        <td>{{ detalle.tipoValor }}</td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm" (click)="preguntaEliminar(detalle.idConcepto)">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer d-flex justify-content-center mt-4">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-success" (click)="guardarConcepto()">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

