
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$CreditosFrontEnd-theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
    ),
    density: (
        scale: 0,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
    @include mat.all-component-themes($CreditosFrontEnd-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($CreditosFrontEnd-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($CreditosFrontEnd-theme);
$color-azulfuerte: #023E73;
$color-azulbajo: #035AA6;
$color-verdefuerte: #528C18;
$color-verdebajo: #9ABF75;
$color-text-light: #F2F2F2;
$color-hover: #035AA6;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    flex: 1;
    overflow-y: auto; 
    padding: 20px; 
    margin-left: 150px;
}

.titulo {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: $color-azulfuerte;
    border-radius: 20px;
    padding: 10px 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo i {
    margin-right: 5px;
}