<h3 class="titulo">Solicitud del crédito</h3>

<div class="col-12 card shadow mb-4 p-3">
    <div class="inputs-container mt-4">
        <div class="floating-label">
            <select class="inputM" id="regimenFiscal" (change)="onClienteChange($event)">
                <option value="" selected disabled>Selecciona un cliente</option>
                <option *ngFor="let cliente of clientes" [value]="cliente.idCliente">
                    <ng-container *ngIf="cliente.regimenFiscal === 'MORAL'; else personaFisica">
                        {{ (cliente.datosClienteMorals && cliente.datosClienteMorals.length > 0) 
                            ? cliente.datosClienteMorals[0]!.nombreRepLegal || 'N/A' 
                            : 'N/A' 
                        }} (Moral)
                    </ng-container>
                    <ng-template #personaFisica>
                        {{ (cliente.datosClienteFisicas && cliente.datosClienteFisicas.length > 0 
                            && cliente.datosClienteFisicas[0].idPersonaNavigation
                            ? (cliente.datosClienteFisicas[0]!.idPersonaNavigation!.nombre || '') + ' ' 
                                + (cliente.datosClienteFisicas[0]!.idPersonaNavigation!.apellidoPaterno || '') + ' ' 
                                + (cliente.datosClienteFisicas[0]!.idPersonaNavigation!.apellidoMaterno || '') 
                            : 'N/A'
                        ) }} (Física)
                    </ng-template>
                </option>
            </select>
            <label>Selecciona un cliente</label>
        </div>
    </div>

    <div *ngIf="clienteSeleccionado" class="mt-5">
    <!-- <div class="mt-5"> -->
        <fieldset class="d-flex align-items-center justify-content-between">
            <div class="alert alert-warning m-0" role="alert">
                Aseg&uacute;rate de que los datos del crédito sean correctos, de lo contrario, regresa al m&oacute;dulo de simulador para ajustar el detalle del crédito.
            </div>
        </fieldset>
        <div class="inputs-container mt-4">
            <div class="floating-label">
                <input type="number" class="inputM" id="monto" placeholder="Monto del crédito" value="{{ simulacion.monto }}" disabled>
                <label for="monto">Monto del Crédito</label>
            </div>
            <div class="floating-label">
                <input type="number" class="inputM" id="iva" placeholder="IVA" value="{{ simulacion.iva }}" disabled>
                <label for="iva">IVA</label>
            </div>
            <div class="floating-label">
                <input type="text" class="inputM" id="periodicidad" placeholder="Periodicidad" value="{{ simulacion.periodicidad }}" disabled>
                <label for="periodicidad">Periodicidad</label>
            </div>
            <div class="floating-label">
                <input type="number" class="inputM" id="numPagos" placeholder="Número de Pagos" value="{{ simulacion.numPagos }}" disabled>
                <label for="numPagos">Número de Pagos</label>
            </div>
            <div class="floating-label">
                <input type="number" class="inputM" id="numPagos" placeholder="Número de Pagos" value="{{ simulacion.interesAnual }}" disabled>
                <label for="numPagos">Inter&eacute;s ordinario</label>
            </div>
            <div class="floating-label">
                <input type="number" class="inputM" id="numPagos" placeholder="Número de Pagos" value="{{ simulacion.interesMoratorio }}" disabled>
                <label for="numPagos">Inter&eacute;s moratorio</label>
            </div>
        </div>
    </div>
    <!-- Botones -->
    <div class="mt-4 d-flex justify-content-around">
        <button type="button" class="btn btn-success" (click)="insertar()">Generar Solicitud</button>
    </div>
</div>
