<app-sidebar></app-sidebar>
<div class="content">
    <h3 class="titulo">Simulador de crédito</h3>
    <div class="col-12 card shadow mb-4 p-3">
        <div class="col-12">
            <div class="mb-3">
                <h5 class="subtitulo">Datos generales del crédito</h5>
            </div>
            <div class="inputs-container">
                <div class="floating-label">
                    <input type="text" class="inputM" id="input1" placeholder="Método de cálculo">
                    <label for="input1">Método de cálculo</label>
                </div>
                <div class="floating-label">
                    <input type="text" class="inputM" id="input2" placeholder="Sub método de calc">
                    <label for="input2">Método de cálculo</label>
                </div>
                <div class="floating-label">
                    <input type="text" class="inputM" id="input3" placeholder="Monto del crédito">
                    <label for="input3">Monto del crédito</label>
                </div>
                <div class="floating-label">
                    <input type="text" class="inputM" id="input4" placeholder="Número de créditos">
                    <label for="input4">Número de créditos</label>
                </div>
            </div>
        </div>
    </div>
</div>
