<h3 class="titulo">Conceptos</h3>
<div class="col-12 card shadow mb-4 p-3">
    <fieldset class="d-flex align-items-center justify-content-between">
        <div class="alert alert-warning m-0" role="alert">
            En este modulo tendra la capacidad de agregar, modificar y eliminar los conceptos de los creditos.
        </div>
        <ul class="botonp m-0 d-flex">
            <li class="icon-content">
                <a aria-label="Agregar" data-social="agregar" (click)="openModal('add')">
                    <div class="filled"></div>
                    <i class="fa fa-plus fa-lg"></i>
                </a>
                <div class="tooltip">Agregar</div>
            </li>
        </ul>
    </fieldset>
</div>